body {
    background: url(../images/recorder.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    .main-component {
        width: 50%;
        text-align: center;
        margin: auto;
        padding: 50px;
        .startButton {
            background-color: #4CAF50;
            border: none;
            color: #f8f8ff;
            padding: 15px 35px;
            text-align: center;
            display: inline-block;
            font-size: 24px;
            font-weight: bold;
        }
        .startButton:disabled {
            background-color: #717a72;
        }
        .stopButton {
            background-color: #f82e49;
            border: none;
            color: #f8f8ff;
            padding: 15px 35px;
            text-align: center;
            display: inline-block;
            font-size: 24px;
            font-weight: bold;
        }
        .timer {
            font-size: 35px;
            color: #f8f8ff;
        }
        .blob {
            margin-top: 50px;
        }
    }
}